## Filename: server-relp.template
## License: MIT (2021)
## Description: template for /etc/rsyslog.d/10-server-relp.conf

# load module
module(load="imrelp")

input (
    type="imrelp"
    address="0.0.0.0"
    port="2514"
    name="relp"
    keepalive="on"
    keepalive.time="30"
    keepalive.interval="30"
    keepalive.probes="6"
    maxdatasize="16384"

#    tls="off"
#    tls.cacert="/etc/pki/ca-trust/source/anchors/ca.crt"
#    tls.authmode="certvalid"
#    tls.myprivkey="/etc/pki/tls/private/$HOSTNAME.key"
#    tls.mycert="/etc/pki/tls/certs/$HOSTNAME.crt"
)
