############ SERVICE TEMPLATES ############

service PING				--template	check_command=check_ping!100.0,20%!500.0,60%	description=
service local-disk			--template	check_command=check_local_disk!20%!10%!
service local-swap			--template	check_command=check_local_swap!20!10
service local-users			--template	check_command=check_local_users!20!50
service local-process			--template	check_command=check_local_procs!250!400!RSZDT
service local-load			--template	check_command=check_local_load!5.0,4.0,3.0!10.0,6.0,4.0

############ HOST TEMPLATES ############

host ping --template
	service PING

host nagios:ping  --template		__TYPE=NAGIOS
#	service STOCKAGE:local-disk
	service SWAP:local-swap
	service SSH-CONNECTION:local-users
	service PROC-NAGIOS:local-process
	service LOAD:local-load
