## MSSQL ##

define command {
    command_name check_mssql_backup_age
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode backup-age \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --filter-name '^$_SERVICE_DATABASE$$USER99$' \
        --warning-last-execution '$_SERVICE_WARNING_EXECUTION$' \
        --critical-last-execution '$_SERVICE_CRITICAL_EXECUTION$' \
        --warning-last-duration '$_SERVICE_WARNING_DURATION$' \
        --critical-last-duration '$_SERVICE_CRITICAL_DURATION$' \
        --warning-incremental-last-execution '$_SERVICE_WARNING_INCREMENTAL_EXECUTION$' \
        --critical-incremental-last-execution '$_SERVICE_CRITICAL_INCREMENTAL_EXECUTION$' \
        --warning-incremental-last-duration '$_SERVICE_WARNING_INCREMENTAL_DURATION$' \
        --critical-incremental-last-duration '$_SERVICE_CRITICAL_INCREMENTAL_DURATION$' \
        --warning-full-last-execution '$_SERVICE_WARNING_FULL_EXECUTION$' \
        --critical-full-last-execution '$_SERVICE_CRITICAL_FULL_EXECUTION$' \
        --warning-full-last-duration '$_SERVICE_WARNING_FULL_DURATION$' \
        --critical-full-last-duration '$_SERVICE_CRITICAL_FULL_DURATION$' \
        --warning-log-last-execution '$_SERVICE_WARNING_LOG_EXECUTION$' \
        --critical-log-last-execution '$_SERVICE_CRITICAL_LOG_EXECUTION$' \
        --warning-log-last-duration '$_SERVICE_WARNING_LOG_DURATION$' \
        --critical-log-last-duration '$_SERVICE_CRITICAL_LOG_DURATION$' \
        --unit d \
        --verbose
}

define command {
    command_name check_mssql_blocked_processes
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode blocked-processes \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --warning-blocked-processes '$_SERVICE_WARNING$' \
        --critical-blocked-processes '$_SERVICE_CRITICAL$' \
        --warning-wait-time '$_SERVICE_WARNING_WAIT$' \
        --critical-wait-time '$_SERVICE_CRITICAL_WAIT$' \
        --verbose
}

define command {
    command_name check_mssql_cache_hitratio
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode cache-hitratio \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --warning-hit-ratio '$_SERVICE_WARNING$' \
        --critical-hit-ratio '$_SERVICE_CRITICAL$' \
        --verbose
}

define command {
    command_name check_mssql_collection
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode collection \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --verbose
}

define command {
    command_name check_mssql_connected_users
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode connected-users \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --warning-connected-user '$_SERVICE_WARNING$' \
        --critical-connected-user '$_SERVICE_CRITICAL$' \
        --verbose
}

define command {
    command_name check_mssql_connection_time
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode connection-time \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --warning '$_SERVICE_WARNING$' \
        --critical '$_SERVICE_CRITICAL$' \
        --verbose
}

define command {
    command_name check_mssql_databases_size
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode databases-size \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --filter-database '^$_SERVICE_DATABASE$$USER99$' \
        --warning-datafiles-space-usage-prct '$_SERVICE_WARNING$' \
        --warning-logfiles-space-usage-prct '$_SERVICE_WARNING$' \
        --critical-datafiles-space-usage-prct '$_SERVICE_CRITICAL$' \
        --critical-logfiles-space-usage-prct '$_SERVICE_CRITICAL$' \
        --verbose
}

define command {
    command_name check_mssql_dead_locks
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode dead-locks \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --filter-database '^$_SERVICE_DATABASE$$USER99$' \
        --warning-deadlocks '$_SERVICE_WARNING$' \
        --critical-deadlocks '$_SERVICE_CRITICAL$' \
        --verbose
}

define command {
    command_name check_mssql_failed_jobs
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode failed-jobs \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --warning-jobs-failed '$_SERVICE_WARNING$' \
        --critical-jobs-failed '$_SERVICE_CRITICAL$' \
        --verbose
}

define command {
    command_name check_mssql_list_databases
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode list-databases \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --filter-database '^$_SERVICE_DATABASE$$USER99$' \
        --verbose
}

define command {
    command_name check_mssql_locks_waits
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode locks-waits \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --filter-database '^$_SERVICE_DATABASE$$USER99$' \
        --warning-lockswaits '$_SERVICE_WARNING$' \
        --critical-lockswaits '$_SERVICE_CRITICAL$' \
        --verbose
}

define command {
    command_name check_mssql_page_life_expectancy
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode page-life-expectancy \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --verbose
}

define command {
    command_name check_mssql_sql
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode sql \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --database '^$_SERVICE_DATABASE$$USER99$' \
        --sql-statement '$_SERVICE_SQL_QUERY' \
        --verbose
}

define command {
    command_name check_mssql_sql_string
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode sql-string \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --database '^$_SERVICE_DATABASE$$USER99$' \
        --sql-statement '$_SERVICE_SQL_QUERY' \
        --verbose
}

define command {
    command_name check_mssql_tables
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode tables \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --filter-database '^$_SERVICE_DATABASE$$USER99$' \
        --warning-db-free '$_SERVICE_WARNING$' \
        --critical-db-free '$_SERVICE_CRITICAL$' \
        --verbose
}

define command {
    command_name check_mssql_transactions
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::mssql::plugin \
        --mode transactions \
        --hostname '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_MSSQL_CENTREON$ \
        --filter-database '^$_SERVICE_DATABASE$$USER99$' \
        --warning-database-transactions '$_SERVICE_WARNING$' \
        --critical-database-transactions '$_SERVICE_CRITICAL$' \
        --statefile-dir $USER11$ \
        --statefile-suffix '_mssql_transactions_$HOSTNAME$_$SERVICEDESC$' \
        --verbose
}
