## PostgreSQL ##

define command {
    command_name check_postgresql_backends
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode backends \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --verbose
}

define command {
    command_name check_postgresql_bloat
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode bloat \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --verbose
}

define command {
    command_name check_postgresql_collection
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode collection \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --verbose
}

define command {
    command_name check_postgresql_connection_time
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode connection-time \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --warning '$_SERVICE_WARNING$' \
        --critical '$_SERVICE_CRITICAL$' \
        --verbose
}

define command {
    command_name check_postgresql_database_size
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode database-size \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --filter-database '^$_SERVICE_DATABASE$$USER99$' \
        --warning-size '$_SERVICE_WARNING$' \
        --critical-size '$_SERVICE_CRITICAL$' \
        --verbose
}

define command {
    command_name check_postgresql_hitratio
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode hitratio \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --exclude '$_SERVICE_EXCLUDE$' \
        --statefile-dir $USER11$ \
        --statefile-suffix '_postgres_hitratio_$HOSTNAME$_$SERVICEDESC$' \
        --warning '$_SERVICE_WARNING$' \
        --critical '$_SERVICE_CRITICAL$' \
        --verbose
}

define command {
    command_name check_postgresql_list_databases
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode list-databases \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --verbose
}

define command {
    command_name check_postgresql_locks
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode locks \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --exclude '$_SERVICE_EXCLUDE$' \
        --warning '$_SERVICE_WARNING$' \
        --critical '$_SERVICE_CRITICAL$' \
        --verbose
}

define command {
    command_name check_postgresql_query_time
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode query-time \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --verbose
}
# Bug Centreon sur le mode querty_time : threshold W/C not recognized 

define command {
    command_name check_postgresql_sql
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode sql \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --database '^$_SERVICE_DATABASE$$USER99$' \
        --sql-statement '$_SERVICE_SQL_QUERY' \
        --verbose
}

define command {
    command_name check_postgresql_sql_string
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode sql-string \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --database '^$_SERVICE_DATABASE$$USER99$' \
        --sql-statement '$_SERVICE_SQL_QUERY' \
        --verbose
}

define command {
    command_name check_postgresql_statistics
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode statistics \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --filter-database '^$_SERVICE_DATABASE$$USER99$' \
        --statefile-dir $USER11$ \
        --statefile-suffix '_postgres_statistics_$HOSTNAME$_$SERVICEDESC$' \
        --verbose
}

define command {
    command_name check_postgresql_tablespace
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode tablespace \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --verbose
}

define command {
    command_name check_postgresql_timesync
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode timesync \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --verbose
}

define command {
    command_name check_postgresql_vacuum
    command_line $USER2$/centreon_plugins.pl \
        --plugin database::postgres::plugin \
        --mode vacuum \
        --host '$HOSTADDRESS$' \
        --port '$_SERVICE_PORT$' \
        $_HOST_CRED_POSGRESQL_CENTREON$ \
        --verbose
}
