## VMWare SNMP ##

define command {
	command_name check_snmp_vcsa_cpu
	command_line $USER2$/centreon_plugins.pl \
	--plugin apps::vmware::vcsa::snmp::plugin \
	--mode cpu \
    --snmp-retries $_SERVICE_SNMP_RETRIES$ \
    --snmp-timeout $_SERVICE_SNMP_TIMEOUT$ \
	--hostname '$HOSTADDRESS$' \
	$_HOST_CRED_SNMP_CENTREON$ \
    --warning-average '$_SERVICE_WARNING_AVERAGE$' \
    --critical-average '$_SERVICE_CRITICAL_AVERAGE$' \
    --warning-core '$_SERVICE_WARNING_CORE$' \
    --critical-core '$_SERVICE_CRITICAL_CORE$' \
	--verbose

}

define command {
    command_name check_snmp_vcsa_mem
    command_line $USER2$/centreon_plugins.pl \
    --plugin apps::vmware::vcsa::snmp::plugin \
    --mode memory \
    --snmp-retries $_SERVICE_SNMP_RETRIES$ \
    --snmp-timeout $_SERVICE_SNMP_TIMEOUT$ \
    --hostname '$HOSTADDRESS$' \
    $_HOST_CRED_SNMP_CENTREON$ \
    --warning-usage-prct '$_SERVICE_WARNING$' \
    --critical-usage-prct '$_SERVICE_CRITICAL$' \
    --verbose

}

define command {
    command_name check_snmp_vcsa_network
    command_line $USER2$/centreon_plugins.pl \
    --plugin apps::vmware::vcsa::snmp::plugin \
    --mode interfaces \
    --snmp-retries $_SERVICE_SNMP_RETRIES$ \
    --snmp-timeout $_SERVICE_SNMP_TIMEOUT$ \
    --hostname '$HOSTADDRESS$' \
    $_HOST_CRED_SNMP_CENTREON$ \
    --statefile-dir $USER11$ \
    --statefile-suffix '_snmp_network_$HOSTNAME$_$SERVICEDESC$' \
    --name \
    --add-status \
    --add-traffic \
    --critical-status '' \
    --warning-in-traffic '$_SERVICE_WARNING_IN_TRAFFIC$' \
    --critical-in-traffic '$_SERVICE_CRITICAL_IN_TRAFFIC$' \
    --warning-out-traffic '$_SERVICE_WARNING_OUT_TRAFFIC$' \
    --critical-out-traffic '$_SERVICE_WARNING_OUT_TRAFFIC$' \
    --snmp-autoreduce \
    --verbose
}


## VMWare Connector Agent ##
# VCenter
define command {
    command_name check_vsphere_vcenter
    command_line $USER2$/centreon_plugins.pl \
        --plugin apps::vmware::connector::plugin \
        --mode '$_SERVICE_MODE$' \
        --connector-hostname '$_SERVICE_CONNECTOR_HOSTNAME$' \
        --custommode 'connector' \
        --connector-port '$_SERVICE_CONNECTOR_PORT$' \
        --container '$_HOST_VSPHERE_CLUSTER$' \
        --verbose
}

# ESX
define command {
    command_name check_vsphere_host
    command_line $USER2$/centreon_plugins.pl \
        --plugin apps::vmware::connector::plugin \
        --mode '$_SERVICE_MODE$' \
        --custommode 'connector' \
        --connector-hostname '$_SERVICE_CONNECTOR_HOSTNAME$' \
        --connector-port '$_SERVICE_CONNECTOR_PORT$' \
        --container '$_HOST_VSPHERE_CLUSTER$' \
        --esx-hostname '$_HOST_ESX_HOSTNAME$' \
        --verbose
}

# VM
define command {
    command_name check_vsphere_vm
    command_line $USER2$/centreon_plugins.pl \
        --plugin apps::vmware::connector::plugin \
        --mode '$_SERVICE_MODE$' \
        --custommode 'connector' \
        --connector-hostname '$_SERVICE_CONNECTOR_HOSTNAME$' \
        --connector-port '$_SERVICE_CONNECTOR_PORT$' \
        --container '$_HOST_VSPHERE_CLUSTER$' \
        --vm-hostname '$_HOST_VM_HOSTNAME$' \
        --verbose
}

define command {
    command_name check_vsphere_vm_tools
    command_line $USER2$/centreon_plugins.pl \
        --plugin apps::vmware::connector::plugin \
        --mode '$_SERVICE_MODE$' \
        --custommode 'connector' \
        --connector-hostname '$_SERVICE_CONNECTOR_HOSTNAME$' \
        --connector-port '$_SERVICE_CONNECTOR_PORT$' \
        --container '$_HOST_VSPHERE_CLUSTER$' \
        --vm-hostname '$_HOST_VM_HOSTNAME$' \
        --tools-notup2date-status 'ok' \
        --verbose
}
