## HUAWEI OCEANSTOR / DORADO

## CONTROLLERS ##

define command {
    command_name check_snmp_huawei_oceanstor_dorado_controllers
    command_line $USER2$/centreon_plugins.pl \
        --plugin storage::huawei::oceanstor::snmp::plugin \
        --mode controllers \
        --hostname '$HOSTADDRESS$' \
        $_HOST_CRED_SNMP_CENTREON$ \
        --warning-memory-usage '$_SERVICE_WARNING_MEMORY$' \
        --warning-cpu-utilization '$_SERVICE_WARNING_CPU$' \
        --critical-memory-usage '$_SERVICE_CRITICAL_MEMORY$' \
        --critical-cpu-utilization '$_SERVICE_CRITICAL_CPU$' \
        --verbose
}

define command {
    command_name check_snmp_huawei_oceanstor_dorado_power
    command_line $USER2$/centreon_plugins.pl \
        --plugin storage::huawei::oceanstor::snmp::plugin \
        --mode hardware \
        --hostname '$HOSTADDRESS$' \
        $_HOST_CRED_SNMP_CENTREON$ \
        --component 'psu|bbu' \
        --no-component 'OK' \
        --verbose
}

define command {
    command_name check_snmp_huawei_oceanstor_dorado_fan
    command_line $USER2$/centreon_plugins.pl \
        --plugin storage::huawei::oceanstor::snmp::plugin \
        --mode hardware \
        --hostname '$HOSTADDRESS$' \
        $_HOST_CRED_SNMP_CENTREON$ \
        --component 'fan' \
        --no-component 'OK' \
        --verbose
}

define command {
    command_name check_snmp_huawei_oceanstor_dorado_expboard
    command_line $USER2$/centreon_plugins.pl \
        --plugin storage::huawei::oceanstor::snmp::plugin \
        --mode hardware \
        --hostname '$HOSTADDRESS$' \
        $_HOST_CRED_SNMP_CENTREON$ \
        --component 'expboard' \
        --no-component 'OK' \
        --change-short-output 'All 0 components are ok \[\]~No expansion module detected~' \
        --verbose
}

define command {
    command_name check_snmp_huawei_oceanstor_dorado_enclosure
    command_line $USER2$/centreon_plugins.pl \
        --plugin storage::huawei::oceanstor::snmp::plugin \
        --mode hardware \
        --hostname '$HOSTADDRESS$' \
        $_HOST_CRED_SNMP_CENTREON$ \
        --component 'enclosure' \
        --no-component 'OK' \
        --warning 'enclosure.temperature,.*,$_SERVICE_WARNING_TEMP$' \
        --critical 'enclosure.temperature,.*,$_SERVICE_CRITICAL_TEMP$' \
        --verbose
}

define command {
    command_name check_snmp_huawei_oceanstor_dorado_disk
    command_line $USER2$/centreon_plugins.pl \
        --plugin storage::huawei::oceanstor::snmp::plugin \
        --mode hardware \
        --hostname '$HOSTADDRESS$' \
        $_HOST_CRED_SNMP_CENTREON$ \
        --component 'disk' \
        --warning 'disk.temperature,.*,$_SERVICE_WARNING_TEMP$' \
        --critical 'disk.temperature,.*,$_SERVICE_CRITICAL_TEMP$' \
        --verbose
}

define command {
    command_name check_snmp_huawei_oceanstor_dorado_storage-pools
    command_line $USER2$/centreon_plugins.pl \
        --plugin storage::huawei::oceanstor::snmp::plugin \
        --mode storage-pools \
        --hostname '$HOSTADDRESS$' \
        $_HOST_CRED_SNMP_CENTREON$ \
        --warning-space-usage-prct '$_SERVICE_WARNING$' \
        --critical-space-usage-prct '$_SERVICE_CRITICAL$' \
        --verbose
}

define command {
    command_name check_snmp_huawei_oceanstor_dorado_luns-status
    command_line $USER2$/centreon_plugins.pl \
        --hostname '$HOSTADDRESS$' \
        $_HOST_CRED_SNMP_CENTREON$ \
        --plugin apps::protocols::snmp::plugin \
        --mode string-value \
        --oid-table .1.3.6.1.4.1.34774.4.1.19.9.4.1.11 \
        --oid-instance .1.3.6.1.4.1.34774.4.1.19.9.4.1.2 \
        --map-values '1=>normal,2=>fault,3=>notformat,4=>formatting' \
        --map-value-other 'unknown' \
        --unknown-regexp 'unknown' \
        --critical-regexp 'fault' \
        --warning-regexp 'notformat|formatting' \
        --format-ok "All %{rows} hwStorageLunStatus are 'normal'." \
        --format-details-warning "%{instance} hwStorageLunStatus is '%{value}'" \
        --format-warning '%{details_warning}' \
        --format-details-critical "%{instance} hwStorageLunStatus is '%{value}'" \
        --format-critical '%{details_critical}' \
        --format-details-unknown "%{instance} hwStorageLunStatus is '%{value}'" \
        --format-unknown '%{details_unknown}' \
        --verbose
}


define command {
    command_name check_snmp_huawei_oceanstor_dorado_fc-port-status
    command_line $USER2$/centreon_plugins.pl \
        --hostname '$HOSTADDRESS$' \
        $_HOST_CRED_SNMP_CENTREON$ \
        --plugin apps::protocols::snmp::plugin \
        --mode string-value \
        --oid-table .1.3.6.1.4.1.34774.4.1.19.8.7.1.4 \
        --oid-instance .1.3.6.1.4.1.34774.4.1.19.8.11.1.5 \
        --map-values '0=>linkdown,1=>linkup,2=>fault' \
        --map-value-other 'unknown' \
        --unknown-regexp 'unknown' \
        --critical-regexp 'linkdown|fault' \
        --format-ok "All %{rows} hwStorageFCPortStatus are 'linkup'." \
        --format-details-critical "%{instance} hwStorageFCPortStatus is '%{value}'" \
        --format-critical '%{details_critical}' \
        --format-details-unknown "%{instance} hwStorageFCPortStatus is '%{value}'" \
        --format-unknown '%{details_unknown}' \
        --verbose
}

#define command {
#    command_name check_snmp_huawei_oceanstor_dorado_luns
#    command_line $USER2$/centreon_plugins.pl \
#        --hostname '$HOSTADDRESS$' \
#        $_HOST_CRED_SNMP_CENTREON$ \
#        --plugin apps::protocols::snmp::plugin \
#        --verbose
#}
